(lang dune 3.11)

(using melange 0.1)

(using directory-targets 0.1)

(name {{name}})

(generate_opam_files true)

(source
 (github your-username/{{name}}))

(authors "Your Name <your.email@gmail.com>")

(maintainers "Your Name <your.email@gmail.com>")

(license MIT)

(documentation https://github.com/your-username/{{name}})

(package
 (name {{name}})
 (synopsis
  "Enter a synopsis of your app here")
 (description
  "Enter a description of your app here")
 (allow_empty) 
 (depends
  {{#each depends}}
  ({{@key}}{{#if this}} ({{{this}}}){{/if}})
  {{/each}})
 (tags
  (reasonml, ocaml, melange)))

