{
  "name": "{{name}}",
  "version": "0.0.1",
  "description": "Enter a description of your app here",
  "scripts": {
    {{#each scripts}}
    "{{@key}}": "{{this}}"{{#unless @last}},{{/unless}}
    {{/each}}
  },
  "dependencies": {
    {{#each dependencies}}
    "{{@key}}": "{{this}}"{{#unless @last}},{{/unless}}
    {{/each}}
  },
  "devDependencies": {
    {{#each devDependencies}}
    "{{@key}}": "{{this}}"{{#unless @last}},{{/unless}}
    {{/each}}
  }
}
