(library
 (alias app)
 (modes melange)
 (libraries {{#each libraries}}{{this}}{{#unless @last}} {{/unless}}{{/each}})
 (preprocess
  (pps {{#each ppxs}}{{this}}{{#unless @last}} {{/unless}}{{/each}})))
