(dirs :standard \ node_modules)

(melange.emit
 (target output)
 (alias app)
 (libraries {{#each libraries}}{{this}}{{#unless @last}} {{/unless}}{{/each}})
 (modules :standard)
 (preprocess
  (pps {{#each ppxs}}{{this}}{{#unless @last}} {{/unless}}{{/each}}))
 (module_systems es6))
